[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tortoise-orm = {extras = ["asyncpg"], version = "*"}
aerich = "*"
fastapi = "*"
jinja2 = "*"

[dev-packages]

[requires]
python_version = "3.9"
