<!DOCTYPE html>
{% import "macros.html" as macros %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ data.data[0].id }} - {{ data.data[-1].id }}:
        Host List</title>
    {{ macros.stylesheet() }}
</head>
<body>
{{ macros.header("Host List") }}
{{ macros.keyvaltable(query_params) }}
<table>
    <caption>Listing</caption>
    <thead>
    <tr>
        <th>ID</th>
        <th>Created On</th>
        <th># of Items</th>
        <th># of Sessions</th>
    </tr>
    </thead>
    <tbody>
    {% for host in data.data %}
        <tr>
            <td>
                <a href="../host/{{ host.id }}">{{ host.id }}</a>
            </td>
            <td>{{ host.created_on }}</td>
            <td>
                <a href="../items?host_id={{ host.id }}">{{ host.items }}</a>
            </td>
        <td>
                <a href="../sessions?host_id={{ host.id }}">{{ host.sessions }}</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{{ macros.listingfooternav(data, query_params) }}
</body>
</html>
