<!DOCTYPE html>
{% import "macros.html" as macros %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ query_params.after + 1 }} - {{ query_params.after + query_params.limit }}:
        Item List</title>
    {{ macros.stylesheet() }}
</head>
<body>
{{ macros.header("Item List") }}
{{ macros.keyvaltable(query_params) }}
<table>
    <caption>Listing</caption>
    <thead>
    <tr>
        <th>ID</th>
        <th>URL</th>
        <th>Session ID</th>
        <th>Host ID</th>
        <th>Created On</th>
    </tr>
    </thead>
    <tbody>
    {% for item in data.data %}
        <tr>
            <td><a href="../item/{{ item.id }}">{{ item.id }}</a></td>
            <td><a href="{{ item.url }}" rel="noopener" target="_blank">{{ item.url }}</a></td>
            <td><a href="../session/{{ item.session_id }}">{{ item.session_id }}</a></td>
            <td><a href="../host/{{ item.host_id }}">{{ item.host_id }}</a></td>
            <td>{{ item.created_on }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{{ macros.footernav(data) }}
</body>
</html>
