<!DOCTYPE html>
{% import "macros.html" as macros %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Session #{{ session.id }}</title>
    {{ macros.stylesheet() }}
</head>
<body>
{{ macros.header("Session #" ~ session.id) }}
<ul>
    <li>Host ID: <b><a href="../host/{{ session.host_id }}">{{ session.host_id }}</a></b></li>
    <li>Created On: <b>{{ session.created_on }}</b></li>
    <li># of items: <b>{{ session.items }}</b></li>
</ul>
<b>Other Links:</b>
<ul>
    <li> <a href="../items?session_id={{ session.id }}">Items Belonging to Session</a></li>
</ul>
{{ macros.itemfooternav(session.id, total) }}
</body>
</html>
